- "It's really easy to"
- "It's pretty hard to"
- "It's so easy to"
- "So hard to"
- "Since when did I have to"
- "I've never tried to"
- "Why do people want me to"
- "I'm allergic to the smell when I"
- "Just don't ask me to"
- "I can't"
- "It's as hard as nails to"
- "I don't know how to"
- "I don't think I can"
- "I'd like to try to"
- "I can"
- "It's simple to"
- "I don't like to"
- "Only one person in ten can"
- "So simple to"
- "Since when did I have to"
- "You're wrong if you think I'll"