- "It's really easy to"
- "It's pretty hard to"
- "It's so easy to"
- "Since when did I have to"
- "I don't know how to"
- "I've never tried to"
- "Why do people want me to"
- "I'm allergic to the smell when I"
- "Just don't ask me to"
- "I can't"
- "It's as hard as nails to"
- "So simple to"
